
body{
    align-items: center;
    text-align: center;
    align-content: center;
    place-items:inherit;
    font-family: 'Poppins', sans-serif;
}
.A{
    margin-left: auto;
    margin-right: auto;

}
#EDUCATION{
    margin-left: auto;
    margin-right: auto;
}
#SPORTS{
    margin-left: auto;
    margin-right: auto;
}
#SUBJECTSANDPERCENTAGE{
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:600px){
    body{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .A{
        width: 40px;
        height: 20px;
        border: 15px solid;
    }
    .B{
        border: 12px solid;
        width: 170px;
        height: 300px;
    }
}
